<tr>
  <td>1</td>
  <td>Akash</td>
  <td>Email</td>
  <td>Gender</td>
  <td>Status</td>
  <td>
    <a href="/update-user" class="btn border-shadow update">
      <span class="text-gradiant"><i class="fas fa-pencil-alt"></i></span>
    </a>
    <a class="btn border-shadow delete">
      <span class="text-gradiant"><i class="fa fa-trash"></i></span>
    </a>
  </td>
</tr>